/* All Edit Will Be Here */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
body{
    font-family: 'Cairo', sans-serif!important;
}
.header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-status{
    color: green;
}
.navigation li{
    white-space: normal;
}
.btn{
    color: #fff;
}
.btn:hover{
    color: #fff;
}
.btn-outline-warning{
    /* color: #FF9F43; */
    border-color: #FF9F43;
    background-color: #FF9F43;
}
.select2-dropdown--above{
    left: 8px!important;
}